<?xml version="1.0"?>
<config>
  <modules>
    <Eloom_Bootstrap>
      <version>##eloom.versao##</version>
    </Eloom_Bootstrap>
  </modules>

  <admin>
    <routers>
      <eloombootstrap>
        <use>admin</use>
        <args>
          <module>Eloom_Bootstrap</module>
          <frontName>eloombootstrap</frontName>
        </args>
      </eloombootstrap>
    </routers>
  </admin>

  <global>
    <resources>
      <eloombootstrap_setup>
        <setup>
          <module>Eloom_Bootstrap</module>
          <class>Eloom_Bootstrap_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </eloombootstrap_setup>
    </resources>
    <models>
      <eloombootstrap>
        <class>Eloom_Bootstrap_Model</class>
      </eloombootstrap>
    </models>
    <blocks>
      <eloombootstrap>
        <class>Eloom_Bootstrap_Block</class>
      </eloombootstrap>
    </blocks>
    <helpers>
      <eloombootstrap>
        <class>Eloom_Bootstrap_Helper</class>
      </eloombootstrap>
    </helpers>
  </global>

  <frontend>
    <routers>
      <eloombootstrap>
        <use>standard</use>
        <args>
          <frontName>eloombootstrap</frontName>
          <module>Eloom_Bootstrap</module>
        </args>
      </eloombootstrap>
    </routers>
    <translate>
      <modules>
        <Eloom_Bootstrap>
          <files>
            <default>Eloom_Bootstrap.csv</default>
          </files>
        </Eloom_Bootstrap>
      </modules>
    </translate>
  </frontend>

  <adminhtml>
    <translate>
      <modules>
        <Eloom_Bootstrap>
          <files>
            <default>Eloom_Bootstrap.csv</default>
          </files>
        </Eloom_Bootstrap>
      </modules>
    </translate>
  </adminhtml>

  <default>
    <eloombootstrap>
      <product_page>
        <buy_floating_button>1</buy_floating_button>
      </product_page>
      <url>
        <toolsweb>http://www.toolsweb.com.br/webservice/clienteWebService.php?</toolsweb>
      </url>
    </eloombootstrap>
  </default>
</config>